.footer {
  position: fixed;
  z-index: -1;

  background-image: url(/src/images/background/footer.svg);
  background-size: cover;
  background-repeat: no-repeat;

  background-position: -111px;
  height: 200px;
  width: auto;

  @include on-tablet {
    background-position: -278px;
    height: 480px;
  }

  @include on-desktop {
    background-position: center;
    height: 555px;
  }
}
